*{
    margin: 0;
    padding: 0;
}
body {
    background: #DDD;
}
.section-header{
    background: linear-gradient(#333333CC, #AAAAAA55), url('../img/backgroundHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.header-nav{
    padding: 10px;
    background: #000;
}
.nav-bar{
    position: relative;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
 } 
.div-toggle{
    display: inline;
}
.img-toggle{
   max-width: 25px;
}
.img-logo{
    max-width: 50px;
}
.ul-item{ 
    list-style: none; 
      
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    width: 80%; 
    background: #000;
    transition-duration: 0.5s;
} 
.isToggled{ 
    left: -80%;
}
.ul-item li a{
    color: white; 
 }

@media screen and (min-width: 968px) {
    body {
        background: #777;
    }
    .nav-bar{
     max-width: 1200px;

     display: flex;
     align-items: center;
     justify-content: space-between;
    }
    .section-header{
        height: 60vh;
    }
    .ul-item{
        position: relative;
        width: auto;
        top: 0px;
        display: inline-flex; 
        transition-duration: 0s;
    
    }
    .div-toggle{
        display: none;
    }
    .ul-item li{
         margin: 10px 15px;
    }
    .isToggled{ 
        left: auto;
    }
}

@media screen and (min-width: 1921px)   {
    body {
        background: #000;
    }
}